<html>
	<body>
		<h1>Lista de Produtos </h1>
		<table border="1px">

			<tr>
				<td>id</td>
				<td>nome</td>		
			</tr>

			<tr>
				<td>1</td>
				<td>Livro de NodeJS</td>		
			</tr>

		</table>	
	</body>
</html>